<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmUSaHfdTkpzHiARxjVboQf8iNBzmzGBk</string>
	<key>GCM_SENDER_ID</key>
	<string>502789618095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Navigation.Navigation</string>
	<key>PROJECT_ID</key>
	<string>networkservice-503fd</string>
	<key>STORAGE_BUCKET</key>
	<string>networkservice-503fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502789618095:ios:009cf0fde50fbc2244175a</string>
</dict>
</plist>